# DATA PREPROCESSING

## Delivery Dataset Preprocessing

In [116]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder 
from scipy.stats import zscore

In [117]:
#Load datasets

df1_city=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Delivery Five Cities Datasets\Delivery Five Cities Datasets\delivery_cq.csv",parse_dates=['delivery_time'],date_format='%d-%m-%Y %H:%M:%S')
df2_city=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Delivery Five Cities Datasets\Delivery Five Cities Datasets\delivery_delivery_jl.csv",parse_dates=['delivery_time'],date_format='%d-%m-%Y %H:%M:%S')
df3_city=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Delivery Five Cities Datasets\Delivery Five Cities Datasets\delivery_hz.csv",parse_dates=['delivery_time'],date_format='%d-%m-%Y %H:%M:%S')
df4_city=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Delivery Five Cities Datasets\Delivery Five Cities Datasets\delivery_sh.csv",parse_dates=['delivery_time'],date_format='%d-%m-%Y %H:%M:%S')
df5_city=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Delivery Five Cities Datasets\Delivery Five Cities Datasets\delivery_yt.csv",parse_dates=['delivery_time'],date_format='%d-%m-%Y %H:%M:%S')

In [118]:
#df1_city

In [119]:
#merging the datasets.
merged_dataset=pd.concat([df1_city,df2_city,df3_city,df4_city,df5_city],ignore_index=True)

In [120]:
merged_dataset

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,Chongqing,73,108.71571,30.90228,50,14,10-22 10:26:00,10-22 10:26:00,108.71826,30.95587,10-22 17:04:00,10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,Chongqing,3605,108.71639,30.90269,50,14,09-07 10:13:00,09-07 10:13:00,108.71791,30.95635,09-09 15:44:00,09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,Chongqing,3605,108.71645,30.90259,50,14,06-26 09:49:00,06-26 09:49:00,108.71798,30.95635,06-27 16:03:00,06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,Chongqing,3605,108.71650,30.90347,50,14,09-11 11:01:00,09-11 11:01:00,108.71823,30.95596,09-13 17:14:00,09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,Chongqing,3605,108.71608,30.90409,50,14,10-01 09:52:00,10-01 09:52:00,108.71820,30.95598,10-01 18:30:00,10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,2512759,167,Yantai,1571,121.19537,36.78027,60137,1,07-03 15:14:00,07-03 15:14:00,121.20571,36.76358,07-03 17:33:00,07-03 17:33:00,121.19512,36.78016,703
4514657,3779171,167,Yantai,1571,121.19646,36.78103,60137,1,05-24 10:06:00,05-24 10:06:00,121.20567,36.76358,05-24 15:12:00,05-24 15:12:00,121.19635,36.78090,524
4514658,4198558,167,Yantai,3402,121.19515,36.78057,60137,1,05-01 15:13:00,05-01 15:13:00,121.20555,36.76358,05-01 16:06:00,05-01 16:06:00,121.19567,36.78372,501
4514659,1805034,167,Yantai,3402,121.19631,36.78100,60137,1,05-05 09:22:00,05-05 09:22:00,121.20561,36.76357,05-05 17:24:00,05-05 17:24:00,121.19639,36.78082,505
4514660,2801941,167,Yantai,4314,121.19632,36.78072,60137,1,08-08 09:54:00,08-08 09:54:00,121.20551,36.76350,08-08 14:59:00,08-08 14:59:00,121.20007,36.77130,808

In [121]:
#raw file.
#merged_dataset.to_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\raw_data_2.csv",index=False)

In [122]:
merged_dataset.describe()

,order_id,region_id,courier_id,lng,lat,aoi_id,aoi_type,accept_gps_lng,accept_gps_lat,delivery_gps_lng,delivery_gps_lat,ds
count,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.511284e+06,4.511284e+06,4.514661e+06,4.514661e+06,4.514661e+06
mean,2.257330e+06,7.381683e+01,2.385268e+03,1.178683e+02,3.084852e+01,2.998049e+04,4.355784e+00,1.178629e+02,3.083946e+01,1.178634e+02,3.084735e+01,8.112479e+02
std,1.303271e+06,4.538614e+01,1.390526e+03,5.822634e+00,1.928226e+00,1.729042e+04,5.527705e+00,5.853219e+00,1.916018e+00,5.867664e+00,1.937424e+00,1.653643e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,1.020849e+02,2.311348e+01,0.000000e+00,0.000000e+00,-9.000000e-05,-9.000000e-05,-9.000000e-05,-9.000000e-05,5.010000e+02
25%,1.128665e+06,3.600000e+01,1.206000e+03,1.199666e+02,3.012185e+01,1.487400e+04,1.000000e+00,1.199621e+02,3.010518e+01,1.199666e+02,3.012170e+01,7.030000e+02
50%,2.257330e+06,7.100000e+01,2.345000e+03,1.202321e+02,3.030657e+01,3.005500e+04,1.000000e+00,1.202476e+02,3.031297e+01,1.202317e+02,3.030687e+01,8.200000e+02
75%,3.385995e+06,1.110000e+02,3.588000e+03,1.214099e+02,3.118919e+01,4.446400e+04,8.000000e+00,1.214002e+02,3.118778e+01,1.214098e+02,3.118906e+01,9.290000e+02
max,4.514660e+06,1.670000e+02,4.876000e+03,1.268191e+02,4.422335e+01,6.014900e+04,1.500000e+01,1.266288e+02,4.394521e+01,1.397561e+02,4.576194e+01,1.031000e+03

In [123]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        object
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      object
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: float64(6), int64(6), object(5)
memory usage: 585.6+ MB

In [124]:
#to know about the cities in the dataset 
merged_dataset["city"].unique()

array(['Chongqing', 'Jilin', 'Hangzhou', 'Shanghai', 'Yantai'],
      dtype=object)

In [125]:
#for backup
backup_raw=merged_dataset

In [126]:
#Adding the year for the accept time and delivery time .

from datetime import datetime

# Function to add the current year to the datetime format
def add_year_to_datetime(date_str):
    # Assuming current year is needed
    current_year = datetime.now().year
    return f"{current_year}-{date_str}"

#applying the current yr using apply function. 

merged_dataset['accept_time'] = merged_dataset['accept_time'].apply(add_year_to_datetime)
merged_dataset['delivery_time'] = merged_dataset['delivery_time'].apply(add_year_to_datetime)

In [127]:
# Function to add the year 2024 to the datetime format
def add_year_to_datetime(date_str):
    # Always add the year 2024
    return f"2024-{date_str}"

# Applying the updated function
merged_dataset['accept_time'] = merged_dataset['accept_time'].apply(add_year_to_datetime)
merged_dataset['accept_gps_time'] = merged_dataset['accept_gps_time'].apply(add_year_to_datetime)
merged_dataset['delivery_time'] = merged_dataset['delivery_time'].apply(add_year_to_datetime)
merged_dataset['delivery_gps_time'] = merged_dataset['delivery_gps_time'].apply(add_year_to_datetime)

In [129]:
merged_dataset

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,Chongqing,73,108.71571,30.90228,50,14,2024-10-22 10:26:00,2024-10-22 10:26:00,108.71826,30.95587,2024-10-22 17:04:00,2024-10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,Chongqing,3605,108.71639,30.90269,50,14,2024-09-07 10:13:00,2024-09-07 10:13:00,108.71791,30.95635,2024-09-09 15:44:00,2024-09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,Chongqing,3605,108.71645,30.90259,50,14,2024-06-26 09:49:00,2024-06-26 09:49:00,108.71798,30.95635,2024-06-27 16:03:00,2024-06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,Chongqing,3605,108.71650,30.90347,50,14,2024-09-11 11:01:00,2024-09-11 11:01:00,108.71823,30.95596,2024-09-13 17:14:00,2024-09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,Chongqing,3605,108.71608,30.90409,50,14,2024-10-01 09:52:00,2024-10-01 09:52:00,108.71820,30.95598,2024-10-01 18:30:00,2024-10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,2512759,167,Yantai,1571,121.19537,36.78027,60137,1,2024-07-03 15:14:00,2024-07-03 15:14:00,121.20571,36.76358,2024-07-03 17:33:00,2024-07-03 17:33:00,121.19512,36.78016,703
4514657,3779171,167,Yantai,1571,121.19646,36.78103,60137,1,2024-05-24 10:06:00,2024-05-24 10:06:00,121.20567,36.76358,2024-05-24 15:12:00,2024-05-24 15:12:00,121.19635,36.78090,524
4514658,4198558,167,Yantai,3402,121.19515,36.78057,60137,1,2024-05-01 15:13:00,2024-05-01 15:13:00,121.20555,36.76358,2024-05-01 16:06:00,2024-05-01 16:06:00,121.19567,36.78372,501
4514659,1805034,167,Yantai,3402,121.19631,36.78100,60137,1,2024-05-05 09:22:00,2024-05-05 09:22:00,121.20561,36.76357,2024-05-05 17:24:00,2024-05-05 17:24:00,121.19639,36.78082,505
4514660,2801941,167,Yantai,4314,121.19632,36.78072,60137,1,2024-08-08 09:54:00,2024-08-08 09:54:00,121.20551,36.76350,2024-08-08 14:59:00,2024-08-08 14:59:00,121.20007,36.77130,808

### Handling Null values

In [130]:
#showing the count of null values
merged_dataset.isnull().sum()

order_id                0
region_id               0
city                    0
courier_id              0
lng                     0
lat                     0
aoi_id                  0
aoi_type                0
accept_time             0
accept_gps_time         0
accept_gps_lng       3377
accept_gps_lat       3377
delivery_time           0
delivery_gps_time       0
delivery_gps_lng        0
delivery_gps_lat        0
ds                      0
dtype: int64

In [131]:
#resulting only the rows with null values using any
merged_dataset[merged_dataset.isnull().any(axis=1)]

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
931354,3950697,31,Jilin,4849,126.56984,43.85005,235,14,2024-09-03 14:03:00,2024-09-03 14:03:00,NaN,NaN,2024-09-03 16:31:00,2024-09-03 16:31:00,126.56815,43.85131,903
931369,1853698,31,Jilin,435,126.56281,43.86707,570,1,2024-09-26 08:40:00,2024-09-26 08:40:00,NaN,NaN,2024-09-26 14:25:00,2024-09-26 14:25:00,126.56232,43.86717,926
931403,1103923,31,Jilin,435,126.56194,43.86761,570,1,2024-07-05 08:52:00,2024-07-05 08:52:00,NaN,NaN,2024-07-05 12:38:00,2024-07-05 12:38:00,126.56176,43.86768,705
931428,2250016,31,Jilin,435,126.56327,43.86591,570,1,2024-09-25 12:30:00,2024-09-25 12:30:00,NaN,NaN,2024-09-25 16:58:00,2024-09-25 16:58:00,126.56433,43.86586,925
931498,4303930,31,Jilin,435,126.56216,43.85860,1530,14,2024-09-25 12:31:00,2024-09-25 12:31:00,NaN,NaN,2024-09-25 16:20:00,2024-09-25 16:20:00,126.56170,43.85821,925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514548,3726142,167,Yantai,1571,121.16360,36.76590,58594,14,2024-10-05 21:46:00,2024-10-05 21:46:00,NaN,NaN,2024-10-05 21:46:00,2024-10-05 21:46:00,121.16361,36.76582,1005
4514571,214005,167,Yantai,4314,121.16294,36.78224,59312,14,2024-08-06 14:22:00,2024-08-06 14:22:00,NaN,NaN,2024-08-06 16:26:00,2024-08-06 16:26:00,121.16177,36.75060,806
4514647,4172105,167,Yantai,1206,121.19499,36.78125,60137,1,2024-09-07 16:33:00,2024-09-07 16:33:00,NaN,NaN,2024-09-07 17:32:00,2024-09-07 17:32:00,121.18460,36.74368,907
4514648,1642116,167,Yantai,1571,121.19572,36.78140,60137,1,2024-07-14 12:34:00,2024-07-14 12:34:00,NaN,NaN,2024-07-14 17:27:00,2024-07-14 17:27:00,121.19507,36.78145,714
4514652,311428,167,Yantai,1571,121.19574,36.78121,60137,1,2024-06-11 14:57:00,2024-06-11 14:57:00,NaN,NaN,2024-06-11 20:15:00,2024-06-11 20:15:00,121.19981,36.78111,611

### LONGITUDE MEAN FOR CITIES

In [132]:
#calculating mean longitude for each cities to fill in place of null values.

In [133]:
Chongqing_lng_mean=merged_dataset[merged_dataset['city']=="Chongqing"]['accept_gps_lng'].mean()
Chongqing_lng_mean

np.float64(106.55286435929095)

In [134]:
Jilin_lng_mean=merged_dataset[merged_dataset['city']=="Jilin"]['accept_gps_lng'].mean()
Jilin_lng_mean

np.float64(126.52444352002625)

In [135]:
Hangzhou_lng_mean=merged_dataset[merged_dataset['city']=="Hangzhou"]['accept_gps_lng'].mean()
Hangzhou_lng_mean

np.float64(120.14579486329508)

In [136]:
Shanghai_lng_mean=merged_dataset[merged_dataset['city']=="Shanghai"]['accept_gps_lng'].mean()
Shanghai_lng_mean

np.float64(121.47237942948951)

In [137]:
Yantai_lng_mean=merged_dataset[merged_dataset['city']=="Yantai"]['accept_gps_lng'].mean()
Yantai_lng_mean

np.float64(121.11832271360576)

### LATITUDE MEAN FOR CITIES

In [138]:
#calculating mean latitude for each cities to fill in place of null values.

In [139]:
Chongqing_lat_mean=merged_dataset[merged_dataset['city']=="Chongqing"]['accept_gps_lat'].mean()
Chongqing_lat_mean

np.float64(29.613112466298936)

In [140]:
Jilin_lat_mean=merged_dataset[merged_dataset['city']=="Jilin"]['accept_gps_lat'].mean()
Jilin_lat_mean

np.float64(43.83430860111622)

In [141]:
Hangzhou_lat_mean=merged_dataset[merged_dataset['city']=="Hangzhou"]['accept_gps_lat'].mean()
Hangzhou_lat_mean

np.float64(30.23708115321227)

In [142]:
Shanghai_lat_mean=merged_dataset[merged_dataset['city']=="Shanghai"]['accept_gps_lat'].mean()
Shanghai_lat_mean

np.float64(31.19154299732994)

In [143]:
Yantai_lat_mean=merged_dataset[merged_dataset['city']=="Yantai"]['accept_gps_lat'].mean()
Yantai_lat_mean

np.float64(37.43368939468357)

In [144]:
#to know the cities with null values (Jilin,Yantai)
#to access only the cities having null.
merged_dataset[merged_dataset.isnull().any(axis=1)]["city"].unique()

array(['Jilin', 'Yantai'], dtype=object)

In [145]:
#filling the mean values in the appropriate cities

In [146]:
merged_dataset.loc[merged_dataset["city"]=="Jilin","accept_gps_lng"]=merged_dataset.loc[merged_dataset["city"]=="Jilin","accept_gps_lng"].fillna(126.52444352002625)

In [147]:
merged_dataset.loc[merged_dataset["city"]=="Jilin","accept_gps_lat"]=merged_dataset.loc[merged_dataset["city"]=="Jilin","accept_gps_lat"].fillna(43.83430860111622)

In [148]:
merged_dataset.loc[merged_dataset["city"]=="Yantai","accept_gps_lng"]=merged_dataset.loc[merged_dataset["city"]=="Yantai","accept_gps_lng"].fillna(121.11832271360576)

In [149]:
merged_dataset.loc[merged_dataset["city"]=="Yantai","accept_gps_lat"]=merged_dataset.loc[merged_dataset["city"]=="Yantai","accept_gps_lat"].fillna(37.43368939468357)

In [150]:
#checking the exisitence of null values in the dataset.
merged_dataset.isnull().sum()

order_id             0
region_id            0
city                 0
courier_id           0
lng                  0
lat                  0
aoi_id               0
aoi_type             0
accept_time          0
accept_gps_time      0
accept_gps_lng       0
accept_gps_lat       0
delivery_time        0
delivery_gps_time    0
delivery_gps_lng     0
delivery_gps_lat     0
ds                   0
dtype: int64

### Handling Duplicates

In [151]:
merged_dataset.drop_duplicates(subset=["order_id"], inplace=True)

In [152]:
#cross-checking the existence of duplicates
merged_dataset[merged_dataset.duplicated(subset="order_id")]
#no duplicates in order_id

Empty DataFrame
Columns: [order_id, region_id, city, courier_id, lng, lat, aoi_id, aoi_type, accept_time, accept_gps_time, accept_gps_lng, accept_gps_lat, delivery_time, delivery_gps_time, delivery_gps_lng, delivery_gps_lat, ds]
Index: []

In [153]:
#to verify perform info and see dataset

### Verifying Data Types:

In [154]:
#looking into the datatypes of each column
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        object
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      object
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: float64(6), int64(6), object(5)
memory usage: 585.6+ MB

In [155]:
#1. Convert time related columns into datetime.
#2 Convert aoi_type into categorical.
#3 Ensure lat and lng are float.

In [156]:
## to know the memory usage before converting into categorical

In [157]:
print(merged_dataset['aoi_type'].memory_usage(deep=True))

36117420

In [158]:
merged_dataset['aoi_type']=pd.Categorical(merged_dataset['aoi_type'], ordered=False)
#merged_dataset["aoi_type"].astype("category")   #another way

In [159]:
#after converting into categorical.
#memory size has been reduced.

In [160]:
print(merged_dataset['aoi_type'].memory_usage(deep=True))

4515477

In [161]:
#converting accept_time from object into datetime.
merged_dataset['accept_time'] = pd.to_datetime(merged_dataset['accept_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['accept_gps_time'] = pd.to_datetime(merged_dataset['accept_gps_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['delivery_time'] = pd.to_datetime(merged_dataset['delivery_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['delivery_gps_time'] = pd.to_datetime(merged_dataset['delivery_gps_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

merged_dataset['lat'] = pd.to_numeric(merged_dataset['lat'], errors='coerce')
merged_dataset['lng'] = pd.to_numeric(merged_dataset['lng'], errors='coerce')

In [162]:
merged_dataset

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,Chongqing,73,108.71571,30.90228,50,14,2024-10-22 10:26:00,2024-10-22 10:26:00,108.71826,30.95587,2024-10-22 17:04:00,2024-10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,Chongqing,3605,108.71639,30.90269,50,14,2024-09-07 10:13:00,2024-09-07 10:13:00,108.71791,30.95635,2024-09-09 15:44:00,2024-09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,Chongqing,3605,108.71645,30.90259,50,14,2024-06-26 09:49:00,2024-06-26 09:49:00,108.71798,30.95635,2024-06-27 16:03:00,2024-06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,Chongqing,3605,108.71650,30.90347,50,14,2024-09-11 11:01:00,2024-09-11 11:01:00,108.71823,30.95596,2024-09-13 17:14:00,2024-09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,Chongqing,3605,108.71608,30.90409,50,14,2024-10-01 09:52:00,2024-10-01 09:52:00,108.71820,30.95598,2024-10-01 18:30:00,2024-10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,2512759,167,Yantai,1571,121.19537,36.78027,60137,1,2024-07-03 15:14:00,2024-07-03 15:14:00,121.20571,36.76358,2024-07-03 17:33:00,2024-07-03 17:33:00,121.19512,36.78016,703
4514657,3779171,167,Yantai,1571,121.19646,36.78103,60137,1,2024-05-24 10:06:00,2024-05-24 10:06:00,121.20567,36.76358,2024-05-24 15:12:00,2024-05-24 15:12:00,121.19635,36.78090,524
4514658,4198558,167,Yantai,3402,121.19515,36.78057,60137,1,2024-05-01 15:13:00,2024-05-01 15:13:00,121.20555,36.76358,2024-05-01 16:06:00,2024-05-01 16:06:00,121.19567,36.78372,501
4514659,1805034,167,Yantai,3402,121.19631,36.78100,60137,1,2024-05-05 09:22:00,2024-05-05 09:22:00,121.20561,36.76357,2024-05-05 17:24:00,2024-05-05 17:24:00,121.19639,36.78082,505
4514660,2801941,167,Yantai,4314,121.19632,36.78072,60137,1,2024-08-08 09:54:00,2024-08-08 09:54:00,121.20551,36.76350,2024-08-08 14:59:00,2024-08-08 14:59:00,121.20007,36.77130,808

In [163]:
#cross-check for the above conversions.
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           category
 8   accept_time        datetime64[ns]
 9   accept_gps_time    datetime64[ns]
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      datetime64[ns]
 13  delivery_gps_time  datetime64[ns]
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: category(1), datetime64[ns](4), float64(6), int64(5), object(1)
memory usage: 555.4+ MB

### Delivery Duration Calculation:

In [164]:
merged_dataset["delivery_duration"]= (merged_dataset["delivery_time"]-merged_dataset["accept_time"]).dt.total_seconds()/3600

### Calculating Distance

In [165]:
merged_dataset['distance'] = np.sqrt((merged_dataset['delivery_gps_lng'] - merged_dataset['accept_gps_lng'])**2 + (merged_dataset['delivery_gps_lat'] - merged_dataset['accept_gps_lat'])**2)

### Outlier Detection:

In [166]:
#1 Using z-score or IQR to detect and remove these outliers in Delivery Duration.
#2 Validate lng/lat values for any out-of-bound entries: Latitude range: -90 to 90 and Longitude range: -180 to 180.

In [167]:
#Using IQR-score


Q1=merged_dataset["delivery_duration"].quantile(0.25)
Q3=merged_dataset["delivery_duration"].quantile(0.75)

IQR=Q3-Q1

Lower_Bound=Q1-IQR*1.5
Upper_Bound=Q3+IQR*1.5

merged_dataset=merged_dataset[merged_dataset["delivery_duration"]>Lower_Bound & merged_dataset["delivery_duration"]< Upper_Bound]

In [168]:
#Using z-score.

In [169]:
#calculating the z_score for the delivery duration.
merged_dataset["z_score"]=zscore(merged_dataset["delivery_duration"])

#removing outliers.
merged_dataset=merged_dataset[(merged_dataset["z_score"] <= 3) & (merged_dataset["z_score"] >= -3)]

In [170]:
merged_dataset.drop(columns=['z_score'], inplace=True)

C:\Users\RUBAN\AppData\Local\Temp\ipykernel_7116\288125615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_dataset.drop(columns=['z_score'], inplace=True)

### Geospatial Anomalies:

In [171]:
merged_dataset = merged_dataset[(merged_dataset['accept_gps_lat'] >= -90) & (merged_dataset['accept_gps_lat'] <= 90)]

In [172]:
merged_dataset = merged_dataset[(merged_dataset['accept_gps_lng'] >= -180) & (merged_dataset['accept_gps_lng'] <= 180)]

In [173]:
merged_dataset = merged_dataset[(merged_dataset['delivery_gps_lat'] >= -90) & (merged_dataset['delivery_gps_lat'] <= 90)]

In [174]:
merged_dataset = merged_dataset[(merged_dataset['delivery_gps_lng'] >= -180) & (merged_dataset['delivery_gps_lng'] <= 180)]

In [175]:
print("Rows left after filtering:", merged_dataset.shape[0])

Rows left after filtering: 4492923

### ONE HOT ENCODING

In [176]:
#Performing OHE for aoi_type and city

In [177]:
merged_dataset = pd.get_dummies(merged_dataset, columns=['aoi_type'], drop_first=True)

In [178]:
merged_dataset = pd.get_dummies(merged_dataset, columns=['city'], drop_first=True)

In [179]:
merged_dataset.columns

Index(['order_id', 'region_id', 'courier_id', 'lng', 'lat', 'aoi_id',
       'accept_time', 'accept_gps_time', 'accept_gps_lng', 'accept_gps_lat',
       'delivery_time', 'delivery_gps_time', 'delivery_gps_lng',
       'delivery_gps_lat', 'ds', 'delivery_duration', 'distance', 'aoi_type_1',
       'aoi_type_2', 'aoi_type_3', 'aoi_type_4', 'aoi_type_5', 'aoi_type_6',
       'aoi_type_7', 'aoi_type_8', 'aoi_type_9', 'aoi_type_10', 'aoi_type_11',
       'aoi_type_12', 'aoi_type_13', 'aoi_type_14', 'aoi_type_15',
       'city_Hangzhou', 'city_Jilin', 'city_Shanghai', 'city_Yantai'],
      dtype='object')

### Standardizing

In [180]:
#Normalize features like distance and delivery_duration to ensure all variables are on a similar scale.

In [181]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize 'distance' and 'delivery_duration'
numerical_columns = ['distance', 'delivery_duration']
merged_dataset[numerical_columns] = scaler.fit_transform(merged_dataset[numerical_columns])

### FINAL OUTPUT

In [182]:
merged_dataset.to_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\cleaned_dataset_delivery.csv", index=False)