# DATA PREPROCESSING

## Pickup Preprocessing

### Import Libraries:

In [2]:
import pandas as pd
import numpy as np
import datetime

### Load Datasets:

In [3]:
df1=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Pickup Five Cities Datasets\Pickup Five Cities Datasets\pickup_cq.csv")
df2=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Pickup Five Cities Datasets\Pickup Five Cities Datasets\pickup_hz.csv")
df3=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Pickup Five Cities Datasets\Pickup Five Cities Datasets\pickup_jl.csv")
df4=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Pickup Five Cities Datasets\Pickup Five Cities Datasets\pickup_sh.csv")
df5=pd.read_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Pickup Five Cities Datasets\Pickup Five Cities Datasets\pickup_yt.csv")

In [4]:
#merging all the 5 pickup datasets.
merged_dataset=pd.concat([df1,df2,df3,df4,df5],ignore_index=True)

In [5]:
merged_dataset

,order_id,region_id,city,courier_id,accept_time,time_window_start,time_window_end,lng,lat,aoi_id,aoi_type,pickup_time,pickup_gps_time,pickup_gps_lng,pickup_gps_lat,accept_gps_time,accept_gps_lng,accept_gps_lat,ds
0,483671,3,Chongqing,1518,08-14 07:57:00,08-14 09:00:00,08-14 11:00:00,106.46877,29.47204,218,14,08-14 09:38:00,NaN,NaN,NaN,NaN,NaN,NaN,814
1,1746131,3,Chongqing,4706,10-09 07:46:00,10-09 09:00:00,10-09 11:00:00,106.46872,29.47200,218,14,10-09 09:42:00,NaN,NaN,NaN,NaN,NaN,NaN,1009
2,2301722,3,Chongqing,4706,10-09 13:57:00,10-09 13:57:00,10-09 15:57:00,106.46869,29.47191,218,14,10-09 15:53:00,10-09 15:53:00,106.46821,29.46771,10-09 13:56:00,106.46929,29.47231,1009
3,3788723,3,Chongqing,4706,05-19 08:13:00,05-19 11:00:00,05-19 13:00:00,106.46878,29.47208,218,14,05-19 11:59:00,NaN,NaN,NaN,NaN,NaN,NaN,519
4,713435,3,Chongqing,4706,05-22 08:16:00,05-22 09:00:00,05-22 11:00:00,106.46813,29.47228,218,14,05-22 10:40:00,05-22 10:40:00,106.46827,29.47270,NaN,NaN,NaN,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6136142,5728371,134,Yantai,15432,07-15 12:33:00,07-15 17:00:00,07-15 19:00:00,121.35625,37.56492,24460,14,07-15 17:15:00,07-15 17:08:00,121.35697,37.56436,NaN,NaN,NaN,715
6136143,5449890,134,Yantai,15432,08-28 08:03:00,08-28 09:00:00,08-28 11:00:00,121.35583,37.56493,24460,14,08-28 08:43:00,08-28 08:43:00,121.36560,37.55906,08-28 08:03:00,121.36573,37.55896,828
6136144,5212482,134,Yantai,15432,07-29 10:56:00,07-29 13:00:00,07-29 15:00:00,121.35577,37.56443,24460,14,07-29 11:40:00,07-29 11:40:00,121.35588,37.56419,07-29 10:54:00,121.35732,37.56325,729
6136145,1347523,134,Yantai,15432,07-30 08:17:00,07-30 09:00:00,07-30 11:00:00,121.35579,37.56456,24460,14,07-30 09:18:00,NaN,NaN,NaN,07-30 08:09:00,121.36598,37.55852,730
6136146,5983259,134,Yantai,15432,08-08 10:28:00,08-08 10:28:00,08-08 12:28:00,121.35604,37.56489,24460,14,08-08 11:02:00,08-08 11:02:00,121.35596,37.56495,08-08 10:28:00,121.36677,37.56350,808

### Overview of Dataset:

In [6]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6136147 entries, 0 to 6136146
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   accept_time        object
 5   time_window_start  object
 6   time_window_end    object
 7   lng                float64
 8   lat                float64
 9   aoi_id             int64
 10  aoi_type           int64
 11  pickup_time        object
 12  pickup_gps_time    object
 13  pickup_gps_lng     float64
 14  pickup_gps_lat     float64
 15  accept_gps_time    object
 16  accept_gps_lng     float64
 17  accept_gps_lat     float64
 18  ds                 int64
dtypes: float64(6), int64(6), object(7)
memory usage: 889.5+ MB

In [7]:
merged_dataset.describe()

,order_id,region_id,courier_id,lng,lat,aoi_id,aoi_type,pickup_gps_lng,pickup_gps_lat,accept_gps_lng,accept_gps_lat,ds
count,6.136147e+06,6.136147e+06,6.136147e+06,6.136147e+06,6.136147e+06,6.136147e+06,6.136147e+06,4.343285e+06,4.343285e+06,3.353776e+06,3.353776e+06,6.136147e+06
mean,3.090931e+06,6.452570e+01,7.889059e+03,1.183564e+02,3.230873e+01,1.215777e+04,5.043091e+00,1.183813e+02,3.257753e+01,1.185414e+02,3.270376e+01,7.803486e+02
std,1.775744e+06,3.791702e+01,4.565536e+03,5.720413e+00,3.680536e+00,7.131654e+03,5.848862e+00,5.792829e+00,3.865521e+00,5.705898e+00,3.930465e+00,1.661045e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,1.053727e+02,2.810210e+01,0.000000e+00,0.000000e+00,1.025392e+02,1.999148e+01,1.025391e+02,2.000799e+01,5.010000e+02
25%,1.559888e+06,3.300000e+01,4.046000e+03,1.199455e+02,3.019368e+01,5.921000e+03,1.000000e+00,1.199407e+02,3.020180e+01,1.199479e+02,3.021873e+01,6.220000e+02
50%,3.093924e+06,6.600000e+01,7.878000e+03,1.202768e+02,3.043618e+01,1.217000e+04,1.000000e+00,1.202858e+02,3.094079e+01,1.203087e+02,3.101978e+01,8.040000e+02
75%,4.627960e+06,9.500000e+01,1.175800e+04,1.213778e+02,3.135063e+01,1.820100e+04,1.400000e+01,1.214115e+02,3.695500e+01,1.214257e+02,3.718493e+01,9.200000e+02
max,6.161997e+06,1.340000e+02,1.606600e+04,1.303666e+02,4.442747e+01,2.454300e+04,1.400000e+01,1.303508e+02,4.567432e+01,1.276731e+02,4.567428e+01,1.031000e+03

In [13]:
merged_dataset.shape

(6136147, 19)

### Handle Missing and Inconsistent Values

In [15]:
#1 Identify missing values using .isnull().sum() to assess data health.

#2 Fill categorical data (aoi_type, city) with placeholders like "Unknown".

#3 Replace missing numerical values like lng and lat with mean values as approximations.

#4 Drop rows with critical missing data in columns such as accept_time and pickup_time.

In [16]:
#1 Identify missing values using .isnull().sum() to assess data health.

In [17]:
merged_dataset.isnull().sum()

order_id                   0
region_id                  0
city                       0
courier_id                 0
accept_time                0
time_window_start          0
time_window_end            0
lng                        0
lat                        0
aoi_id                     0
aoi_type                   0
pickup_time                0
pickup_gps_time      1792862
pickup_gps_lng       1792862
pickup_gps_lat       1792862
accept_gps_time      2782371
accept_gps_lng       2782371
accept_gps_lat       2782371
ds                         0
dtype: int64

In [18]:
#2 Fill categorical data (aoi_type, city) with placeholders like "Unknown".

##### There is no null values in aoi_type and city column.

In [19]:
#3 Replace missing numerical values like lng and lat with mean values as approximations.

In [20]:
merged_dataset["pickup_gps_lng"] = merged_dataset.groupby("city")["pickup_gps_lng"].transform(lambda  x: x.fillna(x.mean()))
merged_dataset["pickup_gps_lat"] = merged_dataset.groupby("city")["pickup_gps_lat"].transform(lambda  x: x.fillna(x.mean()))
merged_dataset["accept_gps_lng"] = merged_dataset.groupby("city")["accept_gps_lng"].transform(lambda  x: x.fillna(x.mean()))
merged_dataset["accept_gps_lat"] = merged_dataset.groupby("city")["accept_gps_lat"].transform(lambda  x: x.fillna(x.mean()))

In [21]:
merged_dataset.isnull().sum()

order_id                   0
region_id                  0
city                       0
courier_id                 0
accept_time                0
time_window_start          0
time_window_end            0
lng                        0
lat                        0
aoi_id                     0
aoi_type                   0
pickup_time                0
pickup_gps_time      1792862
pickup_gps_lng             0
pickup_gps_lat             0
accept_gps_time      2782371
accept_gps_lng             0
accept_gps_lat             0
ds                         0
dtype: int64

In [22]:
#4 Drop rows with critical missing data in columns such as accept_time and pickup_time.

##### Clearly, there was no null values in accept_time and pickup_time.

### Checking Duplicate Records

In [26]:
merged_dataset[merged_dataset.duplicated()]
#no duplicates found

Empty DataFrame
Columns: [order_id, region_id, city, courier_id, accept_time, time_window_start, time_window_end, lng, lat, aoi_id, aoi_type, pickup_time, pickup_gps_time, pickup_gps_lng, pickup_gps_lat, accept_gps_time, accept_gps_lng, accept_gps_lat, ds]
Index: []

### Convertion of Time Columns to Datetime Format

In [27]:
merged_dataset['accept_time'] = pd.to_datetime('2024-' + merged_dataset['accept_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['accept_gps_time'] = pd.to_datetime('2024-' + merged_dataset['accept_gps_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['pickup_time'] = pd.to_datetime('2024-' + merged_dataset['pickup_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['pickup_gps_time'] = pd.to_datetime('2024-' + merged_dataset['pickup_gps_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

merged_dataset['lat'] = pd.to_numeric(merged_dataset['lat'], errors='coerce')
merged_dataset['lng'] = pd.to_numeric(merged_dataset['lng'], errors='coerce')

merged_dataset['aoi_type'] = merged_dataset['aoi_type'].astype('category')

In [30]:
merged_dataset['time_window_start'] = pd.to_datetime('2024-' + merged_dataset['time_window_start'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
merged_dataset['time_window_end'] = pd.to_datetime('2024-' + merged_dataset['time_window_end'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

### Derived Features:

#### 1) Time Window Duration:

In [32]:
merged_dataset['time_window_duration'] = merged_dataset['time_window_end'] - merged_dataset['time_window_start']

In [33]:
merged_dataset["time_window_duration"].describe()

count                      6136147
mean     0 days 02:07:56.585068773
std      0 days 01:31:09.687214997
min                0 days 00:04:00
25%                0 days 02:00:00
50%                0 days 02:00:00
75%                0 days 02:00:00
max                1 days 06:59:00
Name: time_window_duration, dtype: object

In [34]:
merged_dataset[['time_window_start', 'time_window_end', 'time_window_duration']].head()

    time_window_start     time_window_end time_window_duration
0 2024-08-14 09:00:00 2024-08-14 11:00:00      0 days 02:00:00
1 2024-10-09 09:00:00 2024-10-09 11:00:00      0 days 02:00:00
2 2024-10-09 13:57:00 2024-10-09 15:57:00      0 days 02:00:00
3 2024-05-19 11:00:00 2024-05-19 13:00:00      0 days 02:00:00
4 2024-05-22 09:00:00 2024-05-22 11:00:00      0 days 02:00:00

#### 2) Task Duration:

In [35]:
merged_dataset['task_duration'] = merged_dataset['pickup_time'] - merged_dataset['accept_time']

In [38]:
merged_dataset["task_duration"].describe()

count                      6136147
mean     0 days 03:41:34.258113438
std      0 days 06:58:21.749930310
min                0 days 00:00:00
25%                0 days 01:04:00
50%                0 days 01:58:00
75%                0 days 03:17:00
max               38 days 02:19:00
Name: task_duration, dtype: object

In [36]:
merged_dataset[['accept_time', 'pickup_time', 'task_duration']].head()

          accept_time         pickup_time   task_duration
0 2024-08-14 07:57:00 2024-08-14 09:38:00 0 days 01:41:00
1 2024-10-09 07:46:00 2024-10-09 09:42:00 0 days 01:56:00
2 2024-10-09 13:57:00 2024-10-09 15:53:00 0 days 01:56:00
3 2024-05-19 08:13:00 2024-05-19 11:59:00 0 days 03:46:00
4 2024-05-22 08:16:00 2024-05-22 10:40:00 0 days 02:24:00

#### 3) Distance Between Acceptance and Pickup:

In [39]:
merged_dataset['distance'] = np.sqrt((merged_dataset['pickup_gps_lng'] - merged_dataset['accept_gps_lng'])**2 +
                         (merged_dataset['pickup_gps_lat'] - merged_dataset['accept_gps_lat'])**2)

In [40]:
df[['pickup_gps_lng', 'accept_gps_lng', 'pickup_gps_lat', 'accept_gps_lat', 'distance']].sample(10)

,pickup_gps_lng,accept_gps_lng,pickup_gps_lat,accept_gps_lat,distance
342157,107.114140,107.104000,29.145410,29.146720,0.010224
4205848,121.259180,121.269000,31.176330,31.174430,0.010002
1881466,120.281340,120.279840,30.435100,30.435900,0.001700
4681367,121.408240,121.399200,31.244340,31.242330,0.009261
3429565,126.551850,126.569189,43.811760,43.742607,0.071294
823532,106.474490,106.478650,29.467410,29.444600,0.023186
3896222,121.595300,121.595630,31.281900,31.281530,0.000496
2974646,120.171990,120.112550,30.379450,30.257184,0.135949
3252374,120.111544,120.112550,30.257508,30.257184,0.001057
3532030,126.574980,126.578150,43.828480,43.829280,0.003269

### Outlier Detection

#### Detecting Outliers in the task_duration column for abnormalities.

##### Using Inter-Quartile Range(IQR).

In [45]:
Q1=merged_dataset["task_duration"].quantile(0.25)
Q3=merged_dataset["task_duration"].quantile(0.75)

IQR=Q3 - Q1

Lower_Bound=Q1-IQR*1.5
Upper_Bound=Q3+IQR*1.5

merged_dataset=merged_dataset[ (merged_dataset["task_duration"]> Lower_Bound) & (merged_dataset["task_duration"]< Upper_Bound) ]

In [47]:
merged_dataset["task_duration"].describe()

count                      5460748
mean     0 days 02:00:41.967876928
std      0 days 01:23:59.708834992
min                0 days 00:00:00
25%                0 days 00:58:00
50%                0 days 01:46:00
75%                0 days 02:42:00
max                0 days 06:36:00
Name: task_duration, dtype: object

### Final Output

In [52]:
merged_dataset.to_csv(r"E:\DATA ANALYTICS\Internship\Technocolabs\Gologistics\Pickup Five Cities Datasets\Pickup Five Cities Datasets\pickup_data_preprocessed.csv", index=False)